In [3]:
from chessdotcom import client
import pandas as pd

In [4]:
u = "andyyyyyyyyyxx"

In [5]:
response = client.get_player_profile(u)

player_name = response.player.name
player_name

'andy urquhart'

In [6]:
def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]

In [18]:
resp = client.get_player_games_by_month_pgn(u, 2022, 10)
games_response_text = resp.pgn.pgn
games_response_list = games_response_text.split("\n")


games_chunks = chunks(games_response_list, 25)
games_list = []    

for game_list in games_chunks:
    game_dict = {}
    for line in game_list:
        if len(line) > 0:
            if line[0] == '1':
                game_dict['Moves'] = line
            else:
                key = line.split(" ")[0][1:]
                value = line.split('"')[1]
                game_dict[key] = value
  
    games_list.append(game_dict)
    
(chess_df = pd.DataFrame(games_list)

In [43]:
chess_df['win/loss'] = chess_df.apply(lambda row: 1 if row['Result'] == "1-0" else -1 if row['Result'] == "0-1" else 0, axis=1)

In [48]:
chess_df.groupby(["ECO"]).sum().sort_values('win/loss', ascending=False)

     win/loss
ECO
B12         8
B10         5
C30         4
B00         4
A40         3
A45         3
B06         3
B01         2
C34         2
C45         1
C25         1
C40         1
B27         1
A01         1
B07         1
B13         1
A04         1
C57         0
D00         0
D02         0
C42         0
A02         0
D10         0
A00        -1
C20        -1
B18        -1
B15        -1
A43        -1
B21        -1
C33        -2
C00        -2
C50        -2
C55        -2
A06        -2
C41        -4